/* COMMON */

body {
  background-color: #f4f3ef;
}

@font-face {
  font-family: "Lato";
  src: url("Lato-Regular.otf");
}

/*TOP NAVIGATION*/

.topNav {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  list-style-type: none;
  overflow: hidden;
  background-color: #f4f3ef;
  font-family: Lato;
}

.topNav li:first-child {
  font-weight: bold;
  font-size: 30px;
}

.topNav li a:not(.bergen) {
  font-size: 30px;
  font-variant: all-small-caps;
}

.topNav li:last-child {
  padding-top: 15px;
  float: right;
}

.topNav .sosial {
  float: left;
}

.topNav .search-container {
  float: right;
  padding-right: 20px;
}

.topNav li a:hover:not(.active) {
  text-decoration: line-through yellow;
}

.topNav .active {
  text-decoration: line-through yellow;
}

h1 {
  color: black;
  text-align: center;
}

p {
  font-family: "Lato";
  padding-left: 10px;
  padding-right: 10px;
  color: black;
}

@media screen and (min-width: 630px) {
  li {
    float: left;
  }
}

li a {
  display: block;
  color: black;
  text-decoration-color: yellow;
  text-align: center;
  padding: 14px 16px;
  text-decoration-line: none;
}

.hovedDiv {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  width: 80%;
  background-color: #cccac5;
  font-family: "Lato";
}

.footer {
  position: fixed center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 80%;
  background-color: #cccac5;
  color: black;
  text-align: center;
  font-size: 10px;
}

input[type=text] {
  font-family: Lato;
  width: 100px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  background-color: white;
  background-image: url('http://w3schools.com/howto/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 250px;
  outline: none;
}

/* COMMON END */

/* INDEX */

#forsidebilde {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* QUIZ */

.quiztext {
  width: 250px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 10px;
  float: left;
}

#map {
  height: 500px;
  width: 100%;
}

.quizimg {
  border-radius: 50%;
  border: 1px solid #ddd;
  border-image: 50 round;
  width: 250px;
}

.top-right {
  position: absolute;
  width: 88%;
  top: 80px;
  right: 16px;
  color: red;
}

/* INFORMASJON */

#infobilde {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* OM OSS */
