/* COMMON */
body {
  background-color: #f4f3ef;
  font-family: "Lato", sans-serif;
}

h1 {
  text-align: center;
}

p {
  padding-left: 10px;
  padding-right: 10px;
}

@font-face {
  font-family: "Lato";
  src: url("Lato-Regular.otf");
}

#flexcontainer{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

input[type=checkbox]{
  background-color: green;
  color: green;
  height: 20px;
  width: 20px;
}

/*TOP NAVIGATION*/
#topNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1%;
  width: 80%;
  list-style-type: none;
  overflow: hidden;
  background-color: #f4f3ef;
}

#topNav a {
  display: block;
  float: left;
  color: black;
  text-decoration-color: yellow;
  text-align: left;
  text-decoration-line: none;
  .last-child{
    float:right;
  }
}

#topNav .hamburger{
  display: none;
}

.hamburger{
  display: inline-block;
  cursor: pointer;
  background-color: inherit;
}

.bar1, .bar2, .bar3{
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

@media screen and (max-width: 750px){
  #topNav a:not(:first-child) {
    display: none;
  }

  #topNav a.hamburger{
    float: right;
    display: block;
  }

  #topNav.responsive {
    position: relative;
    flex-direction: column;
   }

  #topNav.responsive .hamburger {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  #topNav.responsive a{
    float: none;
    display: block;
    text-align: left;
  }
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2{
  opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

#topNav a:first-child {
  font-weight: bold;
  font-size: 30px;
  padding-top: 5px;
}

#topNav a:not(#bergen) {
  padding-top: 5px;
  font-size: 30px;
  font-variant: all-small-caps;
}

#topNav a:last-child {
  padding-top: 15px;
}

#topNav a:hover {
  text-decoration: underline yellow;
}

#topNav .active {
  text-decoration: underline yellow;
}

/*TOP NAVIGATION END*/
#hovedDiv {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  width: 80%;
  background-color: #cccac5;
  font-family: "Lato";
  position: relative;
}

#menuSearchbox {
  font-family: Lato;
  width: 90px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  background-color: white;
  background-image: url('http://w3schools.com/howto/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

#menuSearchbox:focus {
  width: 200px;
  outline: none;
}

/* COMMON END */
/* INDEX */
#forsidebilde {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* QUIZ */
#quizer{
  display: flex;
  flex-direction: column;
  position: relative;
}

.quizrad{
  display: flex;
  flex-direction: column;
  justify-content:space-around;
}

@media screen and (min-width: 630px) {
  .quizrad{
      flex-direction: row;
  }
}

.quiztext {
  width: 250px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 10px;
}

#map {
  height: 500px;
  width: 100%;
}

.quizimg {
  border-radius: 50%;
  border: 1px solid #ddd;
  border-image: 50 round;
  width: 250px;
}

/* INFORMASJON */

#infobilde {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* TOALETTER */

#avansertSøk{
  display: none;
  flex-direction: row;
  justify-content: space-between;
}

.søkekolonne{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.toalettSøkeboks{
  font-family: Lato;
  width: 100px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  background-color: white;
  outline:none;
}

#toaletter{
  overflow:scroll;
}

#åpen{
  font-family: "Lato", sans-serif;
}

/* FOOTER */
.footer {
  position: fixed center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 80%;
  background-color: #cccac5;
  color: black;
  font-size: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  underline: none;
}

.sosial a {
  padding: 5px;
  font-size: 20px;
  color: black;
  text-decoration: none;
}
