/* COMMON */
h1 {
  font-family: "Pattaya", sans-serif;
  text-align: center;
}

p {
  font-family: "Work Sans", sans-serif;
  padding-left: 10px;
  padding-right: 10px;
}

@font-face {
  font-family: "Lato";
  src: url("Lato-Regular.otf");
}

#flexcontainer{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  width: 80%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

input[type=checkbox]{
  height: 20px;
  width: 20px;
}

/*TOP NAVIGATION*/
#topNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1%;
  width: 100%;
  list-style-type: none;
}

#topNav a {
  font-family: "Work Sans", sans-serif;
  display: block;
  float: left;
  color: black;
  text-decoration-color: #FF5D3F;
  text-align: left;
  text-decoration-line: none;
  .last-child{
    float:right;
  }
}

#topNav .hamburger{
  display: none;
}

.hamburger{
  display: inline-block;
  cursor: pointer;
  background-color: inherit;
}

.bar1, .bar2, .bar3{
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

@media screen and (max-width: 750px){
  #topNav a:not(:first-child) {
    display: none;
  }

  #topNav a.hamburger{
    float: right;
    display: block;
  }

  #topNav.responsive {
    position: relative;
    flex-direction: column;
   }

  #topNav.responsive .hamburger {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  #topNav.responsive a{
    float: none;
    display: block;
    text-align: left;
  }
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2{
  opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

#topNav a:first-child {
  font-family: "Pattaya", sans-serif;
  font-size: 35px;
  padding-top: 0px;
}

#topNav a:not(#bergen) {
  padding-top: 5px;
  font-size: 30px;
  font-variant: all-small-caps;
}

#topNav a:last-child {
  padding-top: 15px;
}

#topNav a:hover {
  text-decoration: underline #FF5D3F;
}

#topNav .active {
  text-decoration: underline #FF5D3F;
}

#menuSearchbox {
  width: 95px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  background-color: white;
  background-image: url('http://w3schools.com/howto/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

#menuSearchbox:focus {
  width: 200px;
  outline: none;
}

/*TOP NAVIGATION END*/
#hovedDiv {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  width: 80%;
  background-color: #f4f4f4;
  font-family: "Lato";
  position: relative;
}

/* COMMON END */
/* INDEX */
#forsidebilde {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* QUIZ */
/*
#quizer{
  display: flex;
  flex-direction: column;
  position: relative;
}

.quizrad{
  display: flex;
  flex-direction: column;
  justify-content:space-around;
}

@media screen and (min-width: 700px) {
  .quizrad{
      flex-direction: row;
  }
}

.quiztext {
  width: 250px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 10px;
}

#map {
  height: 500px;
  width: 100%;
}

.quizimg {
  border-radius: 50%;
  border: 1px solid #ddd;
  border-image: 50 round;
  width: 250px;
}
*/

/* INFORMASJON */

#infobilde {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border: none;
}

/* TOALETTER */
#avansertSøk{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#boksTilSøk{
   display: none;
   flex-direction: column;
   justify-content: space-around;
   padding-left: 20%;
   padding-right: 20%;
}

@media screen and (max-width: 880px) {
  #boksTilSøk{
    padding-left: 0%;
    padding-right: 0%;
  }
}

/* søkeknapp */
#avansertSøkKnapp{
  background-color: #FF5D3F;
  color: white;
  font-size: 16px;
  margin: 4px 2px;
  padding: 10px;
  border-radius: 15px;
  width: 20%;
  font-family: "Lato", sans-serif;
  transition: 0.3s;
  cursor: pointer;
  outline: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
}

.filterRad{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.søkekolonne{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.toalettSøkeboks{
  font-family: Lato;
  width: 100px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  background-color: white;
  outline: none;
  padding: 5%;
}

#hurtigsøk{
  outline: none;
  margin: 4px 2px;
  height: 39px;
  font-family: "Lato", sans-serif;
  width: 20%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  background-color: white;
  background-image: url('http://w3schools.com/howto/searchicon.png');
  background-position: 7px 7px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

#filterknapper{
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
}

#filtrerSøk{
  background-color: #FF5D3F;
  color: white;
  font-size: 12px;
  margin: 2px 2px;
  padding: 5px;
  border-radius: 10px;
  width: 15%;
  font-family: "Lato", sans-serif;
  transition: 0.3s;
  cursor: pointer;
  outline: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
}

#tilbakestillSøk{
  background-color: white;
  color: #FF5D3F;
  font-size: 12px;
  margin: 2px 2px;
  padding: 5px;
  border-radius: 10px;
  width: 15%;
  font-family: "Lato", sans-serif;
  transition: 0.3s;
  cursor: pointer;
  outline: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
}

#åpen{
  font-family: "Lato", sans-serif;
}

.scrollebar{
  width: 100%;
  max-height: 600px;
  overflow: scroll;
  background-color: #f4f4f4;
}
.scrollebar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.scrollebar::-webkit-scrollbar-thumb {
  background-color: #FF5D3F;
  border-radius: 10px;
}
.scrollebar::-webkit-scrollbar-corner{
  background-color: #f4f4f4;
}

#toalettTabell{
  width:100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 11px;
  background-color: #f4f4f4;
}

#toalettTabell th{
  background-color: white;
  color: #FF5D3F;
}

#toalettTabell th, td, tr{
  text-align: left;
  padding: 10px;
}

#toalettTabell th:first-child{
  width: 3%;
}

#toalettTabell tr:nth-child(even){
  background-color: white;
}

#toalettTabell th:nth-child(2),th:nth-child(3){
  width: 15%;
}

#toalettTabell th:nth-child(n+8){
  width: 5%;
}

#toalettTabell th:nth-child(4){
  width: 5%;
}

@media screen and (max-width: 1300px) {
  #toalettTabell{
    font-size: 12px;
  }
}

#ALLCAPS{
  text-transform: capitalize;
}


/* LEKEPLASSER */

#Lekeplasstabell th, td, tr{
  text-align: left;
  padding: 10px;
}

h3{
  padding-left: 10px;
}

#avstandsskjema{
  padding-left: 10px;
}


/* FOOTER */
.footer {
  position: fixed center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 7px;
  padding-bottom: 5px;
  width: 80%;
  background-color: #f4f4f4;
  color: 	#494848;
  font-size: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  underline: none;
}

.sosial a {
  padding: 5px;
  font-size: 20px;
  color: 	#494848;
  text-decoration: none;
}

/* media query for mobile */
@media only screen and (max-width: 768px) {
  #flexcontainer{
    width: 100%;
  }
  #hovedDiv{
    width: 100%;
  }
  .filterRad{
    flex-direction: column-reverse;
  }
  #avansertSøk{
    flex-direction: column;
  }
  .toalettSøkeboks{
    padding: 0%;
  }
  #filterknapper{
    justify-content: center;
  }
  .footer{
    width: 100%;
  }
  #avansertSøkKnapp{
    width: 100%;
  }
  #filtrerSøk{
    width: 20%;
  }
  #tilbakestillSøk{
    width: 20%;
  }
  #hurtigsøk{
    width: 100%;
  }
}

/* media query for tablet */
@media only screen and (min-width: 768px) and (max-width: 1024px)  {
  #flexcontainer{
    width: 100%;
  }
  #hovedDiv{
    width: 100%;
  }
  .filterRad{
    flex-direction: column-reverse;
  }
  .toalettSøkeboks{
    padding: 0%;
  }
  .footer{
    width: 100%;
  }
  #avansertSøkKnapp{
    width: 100%;
    margin: 10px 0px 0px 0px;
  }
  #hurtigsøk{
    width: 100%;
    margin: 0%;
  }
}

/*media query for desktop*/
@media only screen and (min-width: 1280px){
  #hovedDiv{
    width: 1000px;
  }
  #flexcontainer{
    width: 1000px;
  }
  .footer{
    width: 1000px;
  }
}
